name: Release

on:
  push:
    tags:
      - 'v*.*.*' # This workflow only runs on tags like v0.11.0

jobs:
  build_packages:
    name: Build Packages
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Update core build tools
        run: python -m pip install --upgrade pip setuptools wheel

      - name: Install build tools
        run: pip install cibuildwheel twine

      - name: Build sdist and wheels
        run: cibuildwheel --output-dir wheelhouse
        env:
          MACOSX_DEPLOYMENT_TARGET: "15.6"

      - name: Check package metadata
        run: python -m twine check wheelhouse/*

      - name: Store artifact for publishing
        uses: actions/upload-artifact@v4
        with:
          name: python-packages-${{ matrix.os }}
          path: wheelhouse/

  publish_to_pypi:
    name: Publish to PyPI
    needs: [build_packages]
    runs-on: ubuntu-latest
    steps:
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Download all packages
        uses: actions/download-artifact@v4
        with:
          path: wheelhouse
          pattern: python-packages-*
          merge-multiple: true

      - name: Publish to PyPI
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
        run: |
          pip install twine
          python -m twine check "wheelhouse/*"
          python -m twine upload "wheelhouse/*"

  create_github_release:
    name: Create GitHub Release
    needs: [publish_to_pypi]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download all packages for release
        uses: actions/download-artifact@v4
        with:
          path: wheelhouse
          pattern: python-packages-*
          merge-multiple: true

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: "wheelhouse/*"
          generate_release_notes: true